%h1= "#{user.first_name} #{user.last_name}"
%ul
  %li You've signed in #{pluralize(user.sign_in_count, 'time')}.
  %li Your last sign was #{user.last_sign_in_at&.to_formatted_s(:long_ordinal) || 'never'}
  %li Your account was created on #{user.created_at.to_formatted_s(:long_ordinal)}
- if user.authentications.any?
  You've authorized Gator with:
  %ul
    - user.authentications.each do |auth|
      %li= auth.authentication_provider.name.capitalize

= form_for user do |f|
  %h3 Edit your account:
  .form-group
    = f.label 'username'
    = f.text_field :username
  .form-group
    = f.label 'first_name'
    = f.text_field :first_name
  .form-group
    = f.label 'last_name'
    = f.text_field :last_name
  .form-group
    = f.label 'email'
    = f.email_field :email
  .form-group
    = f.label 'role'
    = f.select :role, User.roles.keys.map{ |k| [k,k] }, {}, { selected: user.role, disabled: true }
  .form-group
    = f.submit 'Update User', class: 'button'

= form_for user, url: change_password_user_path(user), method: 'post' do |f|
  %h3 Change your password:
  .form-group
    = f.label 'new_password'
    = f.password_field :new_password
  .form-group
    = f.label 'new_password_confirmation'
    = f.password_field :new_password_confirmation
  .form-group
    = f.submit 'Change Password', class: 'button'
