.medium-3.columns.sidebar
  - if user
    .group
      %h3= user.username
    .group
      %span Following: #{user.followed.count}
      %span Followers: #{user.user_followers.count}
    .group
      %h4 Following
      - if user.topics.any?
        %h5 Topics:
        %ul
          - topics.each do |topic|
            %li
              %span= link_to topic.name, 'javascript:void(0)'
      - if user.feeds.any?
        %h5 Feeds:
        %ul
          - feeds.each do |feed|
            %li
              %span= link_to feed.name, 'javascript:void(0)'
    .group
      - unless user.authenticated_with('twitter')
        = link_to 'Login with Twitter', 'javascript:void(0)', id: 'oauth_twitter', class: 'button'
      - else
        %p.lead
          = link_to 'Twitter Feed', twitter_timeline_path
  - else
    = render partial: 'shared/login'

  %h4 All Feeds
  %ul
    - all_feeds.each do |f|
      %li= link_to f.name, f.url
