.tweet{ id: "#{user.id}-timeline-tweet-#{tweet.id}"}
  - if tweet.metadata?
    .metadata{ data: tweet.metadata }
  .profile-image
    = image_tag tweet.user.profile_image_url
  .tweet-body
    .handle
      %span.user-name= tweet.user.name
      %span.user-handle @#{tweet.user.screen_name}
    .tweet-text
      = tweet.text
      - if tweet.hashtags?
        - tweet.hashtags.each do |hashtag|
          != ##{hashtag.text}
    .tweet-media
      - if tweet.media?
        - tweet.media.each do |m|
          - if m.attrs[:type] == 'video'
            = video_tag(m.attrs[:video_info][:variants].map{|var| var[:url]}, size: "#{m.sizes[:medium].w}x#{m.sizes[:medium].h}", controls: true, autobuffer: true)
          - elsif m.attrs[:type] == 'photo'
            = link_to m.attrs[:expanded_url] do
              = image_tag m.media_url, width: m.sizes[:medium].w, height: m.sizes[:medium].h
    -# = tweet.to_hash
