:ruby
  tweet_text = tweet.text.dup
  tweet.urls.map do |url|
    url_to_match = tweet.text[url.indices.first...url.indices.last]
    tweet_text.gsub!(url_to_match, link_to(url.attrs[:display_url], url.attrs[:url]))
  end
  if tweet.media?
    tweet.media.map { |m| tweet_text.gsub!(m.url.to_s, link_to(m.url.to_s, m.url.to_s)) }
  end
  if tweet.hashtags?
    tweet.hashtags.each do |hashtag|
      tweet_text.gsub!("##{hashtag.text}", link_to("##{hashtag.text}", "https://twitter.com/search?q=%23#{hashtag.text}&src=typd&lang=en"))
    end
  end
.tweet{ id: "#{user.id}-timeline-tweet-#{tweet.id}"}
  - if tweet.metadata?
    .metadata{ data: tweet.metadata }
  .profile-image
    = image_tag tweet.user.profile_image_url
  .tweet-body
    .handle
      %span.user-name= link_to(tweet.user.name, tweet.user.attrs[:url])
      %span.user-handle= link_to("@#{tweet.user.screen_name}", tweet.user.url.to_s)
    .tweet-text
      != tweet_text
    .tweet-media
      - if tweet.media?
        - tweet.media.each do |m|
          - if m.attrs[:type] == 'video'
            = video_tag(m.attrs[:video_info][:variants].map{|var| var[:url]}, size: "#{m.sizes[:medium].w}x#{m.sizes[:medium].h}", controls: true, autobuffer: true)
          - elsif m.attrs[:type] == 'photo'
            = link_to m.attrs[:expanded_url] do
              = image_tag m.media_url, width: m.sizes[:medium].w, height: m.sizes[:medium].h
